/* ボディ */
body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  line-height: inherit;
  overflow-y: hidden;
}

/* 全体にbox-sizingを指定 */
* {
  box-sizing: border-box;
}

/* ヘッダー */
header {
  background-color: #00ca92;
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 20px;
}

/* ヘッダーテキスト */
.headerText {
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.filterTool {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
/***************************************
/* ボタン関係
/***************************************/
/* メニュー画面のヘッダーボタン群 */
.buttonGroup {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
}
/* ボタンの基底クラス */
.ButtonInfo {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
}
/* ボタンコンテナ */
.buttonGroup button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}
/* 青色ボタン */
.BlueButton {
  background-color: #2e3aeb;
  color: white;
}
.BlueButton:hover {
  background-color: #2833c9;
  cursor: pointer;
}
/* ピンク色ボタン */
.PinkButton {
  background-color: #f33d82;
  color: white;
}
.PinkButton:hover {
  background-color: #d83674;
  cursor: pointer;
}
/* 赤色ボタン */
.RedButton {
  background-color: #d82958;
  color: white;
}
.RedButton:hover {
  background-color: #c1244e;
  cursor: pointer;
}
/* 黄色ボタン */
.YellowButton {
  background-color: #a3b638;
  color: white;
}
.YellowButton:hover {
  background-color: #83922d;
  cursor: pointer;
}
/* 紫ボタン(画像投稿にのみ使用) */
.PoupuleButton {
  background-color: #9c4acc;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.PoupuleButton:hover {
  background-color: #6c368b;
  cursor: pointer;
}

/* 削除・修正ボタンの親クラス */
.PostButtonForm {
  display: flex;
  gap: 4px;
}

/***************************************
/* メニュー関係
/***************************************/
/* メニューコンテナ */
main {
  display: flex;
  height: 100vh;
}
/* メニューリスト */
.menuList {
  margin: 20px;
  overflow-y: scroll;
  max-height: 650px;
  width: 100%;
}
/* メニューの内容 */
.menuContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
/* メニューのコンテンツボタン */
.menuButton {
  border-radius: 3px;
  border-color: var(--fallback-bc, oklch(85.142% 0.0001 271.152));
  background-color: #e6e6e6;
  max-height: 100px;
  min-height: 100px;
  box-shadow: 0 0 6px gray;
}
/* メニューのコンテンツホバー時 */
.menuButton:hover {
  background-color: #cccccc;
  cursor: pointer;
}
/* メニューのテキスト */
.menuText {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(61, 61, 61);
}
/* アイコンのスタイル */
.icon {
  width: 50px;
  height: 50px;
  margin: 0;
  background-size: cover;
}

/***************************************
/* セクション関係
/***************************************/
/* サイドバー */
.sideBar {
  background-color: #ededed;
  padding: 10px;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 0 6px gray;
}
/* セクションコンテナ */
.sectionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/* セクションの上部のテキスト */
.sectionTitle {
  text-align: center;
  margin: 0;
  color: rgb(61, 61, 61);
}
/* セクションボタン */
.sectionButton {
  border-radius: 3px;
  border-color: var(--fallback-bc, oklch(85.142% 0.0001 271.152));
  background-color: #e6e6e6;
  max-height: 50px;
  min-height: 50px;
  box-shadow: 0 0 6px gray;
}
/* セクションボタンホバー時 */
.sectionButton:hover {
  background-color: #cccccc;
  cursor: pointer;
}
/* 選択中のセクションの背景色 */
.sectionButton.selected {
  background-color: #928dff;
}
/* セクションボタンのラベル */
.sectionText {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(61, 61, 61);
}

/* ダイアログ表示時の背景 */
.dialogBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* ダイアログ */
.dialogContainer {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  border-color: var(--fallback-bc, oklch(85.142% 0.0001 271.152));
  background-color: #e6e6e6;
  max-height: 500px;
  min-height: 100px;
  padding: 10px;
  width: fit-content;
  min-width: 300px;
}

/* ダイアログ表示テキスト */
.dialogMessage {
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: rgb(61, 61, 61);
}

/* コンファーム内のボタン要素の親 */
.ConfirmButtonForm {
  padding-top: 20px;
  gap: 4px;
  display: flex;
}

/***************************************
/* フッター関係
/***************************************/
/* 投稿フォームのスタイル */
.footerContainer {
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background: #f9f9f9;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
/* フッターの投稿入力フォーム : input */
.footerInputContainer {
  display: flex;
  align-items: left;
  width: 100%;
  gap: 4px;
}
/* フッターの投稿入力フォーム : textarea */
.footerTextAreaContainer {
  display: flex;
  align-items: left;
  width: 100%;
}
/* 投稿フォームのボタン群 */
.footerBtnList {
  gap: 4px;
  display: flex;
  justify-content: left;
}

/* 投稿フォームのタイトル */
.titleForm {
  border-radius: 8px;
  border-color: var(--fallback-bc, oklch(85.142% 0.0001 271.152));
  display: block;
  width: 90%;
  max-width: 500px;
  margin: 5px auto;
  padding: 8px;
  font-size: 16px;
}
/* 投稿フォームの説明 */
.bodyForm {
  width: 90%;
  height: 100px;
  resize: none;
  border-radius: 8px;
  border-color: var(--fallback-bc, oklch(85.142% 0.0001 271.152));
  display: block;
  max-width: 500px;
  margin: 5px auto;
  padding: 8px;
  font-size: 16px;
}

/* 投稿一覧 */
#postList {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
  height: 440px;
  max-height: 440px;
}

/* 投稿内容 */
.Entry {
  border-radius: 8px;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
  margin-bottom: 15px;
}

/* 投稿のタイトルエリア */
.titleArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00ca92;
  border-radius: 8px;
}
/* 投稿のタイトルテキスト */
.titleText {
  color: white;
  margin: 5px 0;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
/* 投稿内容の本文 */
.PostBodyInfo {
  white-space: pre-wrap;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 16px;
  margin-top: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/***************************************
/* 画像関係
/***************************************/
/* 画像 */
.imgInfo {
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px;
  max-width: 150px;
  display: block;
  margin: 4px;
}
/* 画像削除ボタン */
.ImgDeleteButton {
  width: 20px;
  height: 20px;
  z-index: 10;
  border-radius: 50%;
  background-color: #ff4d4d;
  font-weight: bold;
  color: white;
  border: solid 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  top: 10px;
  right: 5px;
}
.ImgDeleteButton:hover {
  background-color: #e14545;
}

/* モーダル */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* モーダル内の画像 */
.modalContent {
  margin: auto;
  display: block;
  max-width: 85%;
  max-height: 85%;
  border-radius: 4px;
}

/* モーダル閉じるボタン */
.close {
  position: absolute;
  top: 10px;
  right: 35px;
  color: white;
  font-size: 65px;
  font-weight: bolder;
  cursor: pointer;
}

/* コンテンツごとの枠線 */
.ItemContainer {
  position: relative;
  margin: 10px;
  margin-top: 45px;
  border: solid 2px #c0c0c0;
  border-radius: 6px;
  padding: 10px;
  width: 98%;
}
/* 枠線のラベル */
.ItemLabel {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
  height: 20px;
  left: 24px;
  top: -18px;
  background-color: #f9f9f9;
  width: fit-content;
}

/* 基本色設定ボタン要素 */
.CollorSetting {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #3f3f3f;
}
/* 基本色 */
.SettingColor-green {
  background-color: #00ca92;
}
.SettingColor-red {
  background-color: #a4023d;
}
.SettingColor-black {
  background-color: #3e3e3e;
}
.SettingColor-blue {
  background-color: rgb(84, 84, 211);
}
.SettingColor-yellow {
  background-color: rgb(186, 186, 0);
}
.SettingColor-purple {
  background-color: rgb(172, 72, 172);
}
.SettingColor-orange {
  background-color: rgb(221, 144, 0);
}
.SettingColor-pink {
  background-color: rgb(253, 169, 183);
}
.SettingColor-brown {
  background-color: rgb(142, 41, 41);
}
.SettingColor-gray {
  background-color: rgb(143, 137, 137);
}
.SettingColor-cyan {
  background-color: rgb(5, 182, 182);
}
.SettingColor-lime {
  background-color: rgb(11, 180, 11);
}

/* 基本色設定のツールチップ関係 */
.CollorSetting-wrapper {
  position: relative;
  display: inline-block;
}
.Tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: opacity 0.2s;
  font-size: 12px;
}

.CollorSetting-wrapper:hover .Tooltip {
  visibility: visible;
  opacity: 1;
}

/* ユーザー情報画面のメイン */
.userInfoMain {
  background-color: #ededed;
}

/* ユーザー設定コンテナ */
.userInfoContainer {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 6px gray;
}
