/* 横並び */
.d-flex {
  display: flex;
}

/* 間隔 */
.gap-1 {
  gap: 1px;
}
.gap-2 {
  gap: 2px;
}
.gap-3 {
  gap: 3px;
}
.gap-4 {
  gap: 4px;
}
.gap-5 {
  gap: 5px;
}
.gap-6 {
  gap: 6px;
}
.gap-7 {
  gap: 7px;
}
.gap-8 {
  gap: 8px;
}
.gap-9 {
  gap: 9px;
}
.gap-10 {
  gap: 10px;
}

/* 高さ */
.h-10 {
  height: 10px;
}
.h-20 {
  height: 20px;
}
.h-30 {
  height: 30px;
}
.h-40 {
  height: 40px;
}
.h-50 {
  height: 50px;
}
.h-60 {
  height: 60px;
}
.h-70 {
  height: 70px;
}
.h-80 {
  height: 80px;
}
.h-90 {
  height: 90px;
}
.h-100 {
  height: 100px;
}

/* 最大高さ */
.max-h-10 {
  max-height: 10px;
}
.max-h-20 {
  max-height: 20px;
}
.max-h-30 {
  max-height: 30px;
}
.max-h-40 {
  max-height: 40px;
}
.max-h-50 {
  max-height: 50px;
}
.max-h-60 {
  max-height: 60px;
}
.max-h-70 {
  max-height: 70px;
}
.max-h-80 {
  max-height: 80px;
}
.max-h-90 {
  max-height: 90px;
}
.max-h-100 {
  max-height: 100px;
}

/* マージン */
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-70 {
  margin-bottom: 70px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-90 {
  margin-bottom: 90px;
}
.mb-100 {
  margin-bottom: 100px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-70 {
  margin-right: 70px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-100 {
  margin-right: 100px;
}

.ml-1 {
  margin-left: 1px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-6 {
  margin-left: 6px;
}
.ml-7 {
  margin-left: 7px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-9 {
  margin-left: 9px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-100 {
  margin-left: 100px;
}

.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.m-40 {
  margin: 40px;
}
.m-50 {
  margin: 50px;
}
.m-60 {
  margin: 60px;
}
.m-70 {
  margin: 70px;
}
.m-80 {
  margin: 80px;
}
.m-90 {
  margin: 90px;
}
.m-100 {
  margin: 100px;
}

/* 縦並び */
.align-items-center {
  align-items: center;
}

/* 水平並び */
.justify-items-center {
  justify-items: center;
}

/* 幅 */
.w-100 {
  width: 100px;
}
.w-150 {
  width: 150px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.w-350 {
  width: 350px;
}
.w-400 {
  width: 400px;
}
.w-450 {
  width: 450px;
}
.w-500 {
  width: 500px;
}
.w-550 {
  width: 550px;
}
.w-600 {
  width: 600px;
}
.w-650 {
  width: 650px;
}
.w-700 {
  width: 700px;
}
.w-750 {
  width: 750px;
}
.w-800 {
  width: 800px;
}
.w-850 {
  width: 850px;
}
.w-900 {
  width: 900px;
}
.w-950 {
  width: 950px;
}
.w-1000 {
  width: 1000px;
}
.w-full {
  width: 100%;
}

/* 最大幅 */
.max-w-100 {
  max-width: 100px;
}
.max-w-150 {
  max-width: 150px;
}
.max-w-200 {
  max-width: 200px;
}
.max-w-250 {
  max-width: 250px;
}
.max-w-300 {
  max-width: 300px;
}
.max-w-350 {
  max-width: 350px;
}
.max-w-400 {
  max-width: 400px;
}
.max-w-450 {
  max-width: 450px;
}
.max-w-500 {
  max-width: 500px;
}
.max-w-550 {
  max-width: 550px;
}
.max-w-600 {
  max-width: 600px;
}
.max-w-650 {
  max-width: 650px;
}
.max-w-700 {
  max-width: 700px;
}
.max-w-750 {
  max-width: 750px;
}
.max-w-800 {
  max-width: 800px;
}
.max-w-850 {
  max-width: 850px;
}
.max-w-900 {
  max-width: 900px;
}
.max-w-950 {
  max-width: 950px;
}
.max-w-1000 {
  max-width: 1000px;
}
.max-w-full {
  max-width: 100%;
}

/* 最小幅 */
.min-w-100 {
  min-width: 100px;
}
.min-w-150 {
  min-width: 150px;
}
.min-w-200 {
  min-width: 200px;
}
.min-w-250 {
  min-width: 250px;
}
.min-w-300 {
  min-width: 300px;
}
.min-w-350 {
  min-width: 350px;
}
.min-w-400 {
  min-width: 400px;
}
.min-w-450 {
  min-width: 450px;
}
.min-w-500 {
  min-width: 500px;
}
.min-w-550 {
  min-width: 550px;
}
.min-w-600 {
  min-width: 600px;
}
.min-w-650 {
  min-width: 650px;
}
.min-w-700 {
  min-width: 700px;
}
.min-w-750 {
  min-width: 750px;
}
.min-w-800 {
  min-width: 800px;
}
.min-w-850 {
  min-width: 850px;
}
.min-w-900 {
  min-width: 900px;
}
.min-w-950 {
  min-width: 950px;
}
.min-w-1000 {
  min-width: 1000px;
}
.min-w-full {
  min-width: 100%;
}
